.doortxt p{
    font-size: 13px;
}

.proceedBtn{
    background-color:#F17E0A;
}

.vouchertxt,
.DeliveredDes{
    font-size:13px ;
    color:#C5CAD6;
}

.delevaryDays{
    color: #000000;
    font-weight: 500;
}
.cash{
    color: #F17E0A;
    font-weight: 700;
}

.total{
    color: #F17E0A;
    font-weight: 700;
    

}